{% extends 'core/base.html' %}
{% block title %}
    <h3>Buscar a un profesor/a en la base de datos</h3>
{% endblock title %}

{% block content %}
<form action="{% url 'clase:buscar_profesor' %}" method="get">
        <input type="text" name="consulta">
      <button type="submit">Buscar</button>
</form>

{% for resultado in resultados %}
    <p>Encontramos los siguientes datos asociados:</p>
      <li>{{resultado.nombre}}</li>
      <li>{{resultado.curso}}</li>
      <li>{{resultado.comision}}</li>
{% endfor %}

{% endblock content %}