{% extends 'core/base.html' %}
{% block title %}
    <h3>Buscar una comision en la base de datos</h3>
{% endblock title %}

{% block content %}
<form action="{% url 'clase:buscar_comision' %}" method="get">
        <input type="text" name="consulta">
      <button type="submit">Buscar</button>
</form>

{% for resultado in resultados %}
    <p>La comisión que buscaste está a cargo de:</p>
      <li>{{resultado.profesor}}</li>
    <p>Y los/as alumnos/as son:</p>
        <li>{{resultado.estudiante}}</li>

{% endfor %}

{% endblock content %}